<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<link href="/assets/styles/styles.css" rel="stylesheet">
	<link href="/assets/styles/pool_gym.css" rel="stylesheet">
</head>
<body id="app">
	<div class="wrapper">
		<header class="header header--shadow">
			<div class="content">
				<div class="header__logo logo">
					<img src="/public/images/logo.png" />
				</div>
				<menu class="header__menu">
					<div class="menu__item">
						<a href="/rooms.html">Номера</a>
					</div>
					<div class="menu__item">
						<a href="/conference_rooms.html">Конференц-залы</a>
					</div>
					<div class="menu__item">
						<a href="/pool_gym.html">Бассейн и спортзал</a>
					</div>
					<div class="menu__item menu__item--more">
						Еще
						<div class="menu__item-sub">
							<div class="menu__item-sub-item"><a href="">Новости</a></div>
							<div class="menu__item-sub-item"><a href="">О нас</a></div>
							<div class="menu__item-sub-item"><a href="">Парк Краснодар</a></div>
						</div>
					</div>
				</menu>
				<div class="header__contacts">
					<div class="contacts_tel">8 (861) 274-11-55</div>
					<div class="contacts_address">г. Краснодар, ул. Васнецова, 14</div>
				</div>
				<div class="header__burger" @click="toggleMenu"></div>
			</div>
		</header>
		<menu class="mobile" v-if="mobileMenu">
			<div class="menu__close" @click="toggleMenu"></div>
			<div class="menu__logo">
				<img src="/public/images/logo.png" />
			</div>
			<div class="menu__contacts">
				<div class="contacts__tel">8 (861) 274-11-55</div>
				<div class="contacts__address">г. Краснодар, ул. Васнецова, 14</div>
			</div>
			<div class="menu__items">
				<div class="menu__item"><a href="/rooms.html">Номера</a></div>
				<div class="menu__item"><a href="/conference_rooms.html">Конференц-залы</a></div>
				<div class="menu__item"><a href="/pool_gym.html">Бассейн и спортзал</a></div>
				<div class="menu__item"><a href="/restaurant.html">Завтрак и рестораны</a></div>
				<div class="menu__item"><a href="/events.html">События</a></div>
				<div class="menu__item"><a href="/about.html">О нас</a></div>
				<div class="menu__item"><a href="/park.html">Парк Краснодар</a></div>
			</div>
		</menu>

		<div class="pg">
			<div class="pg__sliders">
				<div class="pg__slider" v-if="tab === 'pool'">
					<div class="pg__slide" style="background-image: url(/public/images/pool.png)"></div>
				</div>
				<div class="pg__slider"v-if="tab === 'gym'">
					<div class="pg__slide" style="background-image: url(/public/images/gym.png)"></div>
				</div>
			</div>
			<div class="pg__content">
				<div class="pg__subtitle">Включено в проживание</div>
				<div class="pg__titles">
					<span
						class="pg__title"
						:class="{'pg__title--active': tab === 'pool'}"
						@click="switchTo('pool')"
					>Бассейн</span>
					<span
						class="pg__title"
						:class="{'pg__title--active': tab === 'gym'}"
						@click="switchTo('gym')"
					>Спортзал</span>
				</div>
			</div>
		</div>
	</div>
	<script>
		const { createApp, ref, onMounted } = Vue

		const tab = ref('pool')

		const mobileMenu = ref(false)
		const toggleMenu = () => {
			mobileMenu.value = !mobileMenu.value
		}
		const switchTo = (tabName) => {
			tab.value = tabName
		}

		createApp({
			setup() {
				return { mobileMenu, toggleMenu, tab, switchTo }
			}
		}).mount('#app')
	</script>
</body>
</html>
