<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap" rel="stylesheet">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

	<link href="/assets/styles/styles.css" rel="stylesheet">
	<link href="/assets/styles/rooms.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<header class="header header--shadow">
			<div class="content">
				<div class="header__logo logo">
					<img src="/public/images/logo.png" />
				</div>
				<menu class="header__menu">
					<div class="menu__item">
						<a href="/rooms.html">Номера</a>
					</div>
					<div class="menu__item">
						<a href="/conference_rooms.html">Конференц-залы</a>
					</div>
					<div class="menu__item">
						<a href="/pool_gym.html">Бассейн и спортзал</a>
					</div>
				</menu>
				<div class="header__contacts">
					<div class="contacts_tel">8 (861) 274-11-55</div>
					<div class="contacts_address">г. Краснодар, ул. Васнецова, 14</div>
				</div>
			</div>
		</header>

		<main class="main" id="app">
			<div class="cover-image">
				<img src="/public/images/rooms-cover.png" />
			</div>
			<div class="content">
				<h1>Выберите категорию номера</h1>
				<div class="rooms">
					<div
						class="room"
						v-for="room in rooms"
						:key="`room-${room.id}`"
					>
						<div class="room__images">
							<template v-if="room.images.length">
								<img :src="`http://vladim0u.beget.tech${room.images.filter((img) => img.is_main)[0].url}`" />
							</template>
						</div>
						<div class="room__info">
							<div class="room__info-top">
								<h4 class="room__name">{{ room.name }}</h4>
								<div class="room__description">{{ room.description }}</div>
							</div>
							<div class="room__info-bottom">
								<div class="room__options">
									<div
										class="options__item"
										v-for="option in room.options"
										:key="`room-option-${option.id}`"
									>{{ option.name }}</div>
								</div>
								<div class="room__prices">
									<div class="room__price-old">
										{{ room.price_old }} ₽/сутки
										<span>{{ room.discount_percent }}</span>
									</div>
									<div class="room__price-new">
										{{ room.price }}
										<span>₽/сутки</span>
									</div>
									<div class="room__price-select">
										<button class="button">Выбрать номер</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<div class="before-footer"></div>
		<footer class="footer">
			<div class="content">
				<div class="footer__col">
					<div class="footer__logo logo">
						<img src="/public/images/logo.png" />
					</div>
					<div class="footer__address">
						г. Краснодар,<br />ул. Васнецова, 14
					</div>
				</div>
				<div class="footer__col">
					<menu class="footer__menu">
						<div class="menu__item">
							<a href="/rooms.html">Номера</a>
						</div>
						<div class="menu__item">
							<a href="/conference_rooms.html">Конференц-залы</a>
						</div>
						<div class="menu__item">
							<a href="/pool_gym.html">Бассейн и спортзал</a>
						</div>
						<div class="menu__item">
							<a href="/restaurant.html">Завтрак и рестораны</a>
						</div>
					</menu>
				</div>
				<div class="footer__col">
					<menu class="footer__menu">
						<div class="menu__item">
							<a href="/about.html">О нас</a>
						</div>
						<div class="menu__item">
							<a href="/park.html">Парк "Краснодар"</a>
						</div>
					</menu>
				</div>
				<div class="footer__col">
					<div class="footer__socials">
						<div class="socials__tel">8 (861) 274-11-55</div>
						<div class="socials__vk"></div>
						<div class="socials__ok"></div>
					</div>
					<div class="footer__links">
						<div class="links__item">
							<a href="#">Политика конфиденциальности</a>
						</div>
						<div class="links__item">
							<a href="#">Правила проживания</a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script>
		const { createApp, ref, onMounted } = Vue

		const rooms = ref([])

		const fetchRooms = async () => {
			try {
				const response = await fetch('http://vladim0u.beget.tech/api/rooms')
				if (!response.ok) {
					throw new Error(`Response status: ${response.status}`)
				}

				rooms.value = await response.json()
			} catch (error) {
				console.error(error.message)
			}
		}

		createApp({
			setup() {
				onMounted(() => {
					fetchRooms()
				})

				return { rooms }
			}
		}).mount('#app')
	</script>
</body>
</html>
