iframe {
    position: absolute;
    z-index: 10000;
}
.inner-tl-search-form {
    height: 116px;
}
.ecvi-booking-widget {
    width: 100%;
    min-height: fit-content;
    height: fit-content;
}
.ecvi-booking-widget .widget-common-container {
    display: flex;
    background: rgba(242, 242, 242, 1);
    border-radius: 20px;
    padding: 30px;
    gap: 10px;
    align-items: stretch;
}
.widget-date-container .calendar-container .header {
    display: none;
}
.widget-date-container {
    display: flex;
    padding: 0;
    flex: 2;
    gap: 10px;
}
.widget-date-container .calendar-container {
    flex: 1;
}
.widget-date-container .calendar-container .header {
    display: none;
}
.widget-date-container .calendar-container label {
    display: block;
    height: auto;
}
.widget-date-container .calendar-container label .date-info-block__time {
    display: none;
}
.widget-date-container .calendar-container label .date-info-block {
    border: 1px solid rgba(231, 232, 233, 1);
    box-shadow: none;
    padding: 16px 12px;
    border-radius: 12px;
    height: fit-content;
    line-height: 100%;
}
.widget-date-container .calendar-container label input {
    border-radius: 12px;
}
.date-info-block__date {
    display: flex;
    padding: 0;
    width: 100%;
    height: fit-content;
}
.calendar-container label .date-info-block__date::after {
    width: 20px;
    height: 20px;
    top: -2px;
}

.ecvi-booking-widget .widget-buttons-container {
    padding: 0;
    margin: 0;
    flex: 1;
    height: 100%;
}
.ecvi-booking-widget .widget-buttons-container .widget-button-booking,
.ecvi-booking-widget .widget-buttons-container .widget-button-check-status {
    background: rgba(30, 30, 30, 1);
    border-radius: 12px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 100;
    height: 56px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.ui-widget.ui-widget-content {
    border-radius: 12px;
    border: none;
    padding: 13px;
}
.ui-datepicker .ui-datepicker-header {
    background: white !important;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 6px;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 1;
}
.ui-datepicker .ui-datepicker-prev {
    display: block;
    position: relative;
    left: 0;
    top: 0;
    width: fit-content;
    height: fit-content;
}
.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span {
    width: 36px;
    min-width: 36px;
    height: 36px;
    min-height: 36px;
    background-color: rgba(245, 245, 245, 1);
    background-image: none;
    border-radius: 36px;
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
}
.ui-button:focus, .ui-button:hover, .ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
    background: none;
    border: none;
}

.ui-datepicker {
    width: fit-content;
    margin-top: 14px;
}
.ui-datepicker .ui-datepicker-title {
    font-size: 16px;
    font-weight: normal;
    color: rgba(51, 51, 51, 1);
}
.ui-datepicker th {
    font-size: 10px;
    font-weight: 400;
    padding: .7em .3em 16px;
}
.ui-button, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, html .ui-button.ui-state-disabled:active, html .ui-button.ui-state-disabled:hover {
    border: none;
    background: none;
    font-weight: 400;
    color: #333;
    font-size: 14px;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: none;
    background: none;
    color: rgba(51, 51, 51, 1);
}
.ui-button:focus, .ui-button:hover, .ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus, .ui-widget-header .ui-state-hover {
    font-weight: 400;
}
.ui-datepicker .ui-state-default.ui-state-active {
    background: none;
    border: none;
}
.ui-timepicker-div {
    display: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    display: none;
}


.container {
    max-width: fit-content;
}

[data-spoiler], [data-spoilersection] {
    display: flex;
    flex-direction: column;
    gap: 56px;
}
.available-item {
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    background-color: white;
}
.available-item .col3-4 {
    width: 100%;
    margin: 0;
}
