body {
    margin: 0;
}

h1 {}

.events {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 08px;
}
.events__item {
    display: flex;
    gap: 20px;
}
.events__item-cover {
    width: 410px;
    min-width: 410px;
    border-radius: 20px;
    overflow: hidden;
}
.events__item-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
}
.events__item-content {
    display: flex;
    flex-direction: column;
}
.events__item-date {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    margin-bottom: auto;
    color: rgba(30, 30, 30, 1);
}
.events__item-content h2 {
    margin-top: auto;
    margin-bottom: 12px;
    font-family: 'Tenor Sans';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: rgba(30, 30, 30, 1);
}
.events__item-content p {
    margin-top: 0;
    margin-bottom: auto;
    font-family: 'Golos Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(30, 30, 30, 1);
}
.events__item-link {
    margin-top: auto;
    margin-bottom: 0;
    font-family: 'Golos Text';
    font-size: 18px;
    font-weight: 400;
}
.events__item-link a {
    color: rgba(163, 134, 77, 1);
    text-decoration: none;
}
